/* завантажується з нормалайз
html {
    box-sizing: border-box;
}
*,
*::before, 
*::after {
    box-sizing: inherit;
}*/
:root {
    --primary-background-color: #F5F5F5;
    --secondary-background-color: #F5F4FA;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-white: rgba(255, 255, 255, 0.6);
    --brand-color: #000000;
    --footer-bg-color: #2F303A;

    --border-header-stroke: #ECECEC;
    --border-card-stroke: #EEEEEE;

    --main-font-family: Roboto;
    --logo-font-family: Raleway;
}
body {
    /*margin: 0; теж нормалізатора*/
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: var(--main-font-family), sans-serif;
    /*font-style: normal;
    font-weight: 400;*/
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
    }
.link {
    text-decoration: none;
}

/*Стилі main index.html*/
/*header*/

.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-header-stroke);
}
.container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

.header-nav {
    display: flex;
}
.logo {
    display: block;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    
    color: var(--brand-color);
    text-decoration: none;
    font-family: var(--logo-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-accent {
    
    color: var(--accent-color);
}

.site-nav {
    display: flex;
    margin-left: 93px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .item:not(:first-child) {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
}
.site-nav .link:hover, 
.site-nav .link:focus,
.site-nav .link.current,
.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.contact-nav {
    display: flex;
    margin-left: auto;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
}
.contact-nav .item +.item {
    margin-left: 50px;
}

/*section hero*/
.hero.section {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--footer-bg-color);
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);
    
    font-family: var(--main-font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /*text-align: center;*/
    text-transform: uppercase;
    letter-spacing: 0.06em;

}
/*button hero*/
.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 73px;
    text-align: center;
    padding: 6px 22px;

    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    border: var(--secondary-background-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}
.button.hero-em {
    padding: 10px 32px;
    min-width: 216px;

    letter-spacing: 0.06em;
}
.button.primary {
    color: var(--primary-white-color);
    background: var(--accent-color);
}
.pointer {
    cursor: pointer;
}
.button:hover,
.button:focus,
.button:active {
    color: var(--primary-white-color);
    background: var(--accent-color);
    border-color: var(--accent-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

}
.section.no-padding-top {
    padding-top: 0px;
    
}
.section-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);

    /*font-weight: 700;defolt for title*/
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
}
.section-title.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
/*features*/

.features {
    display: flex;
    flex-wrap: wrap;
}
.features .item {
    width: 270px;
    background-color: #fff;
}
.features .item +.item {
    margin-left: 30px;
}
.features .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--secondary-text-color);

    font-size: 14px;
    /*font-weight: 700;defolt*/
    line-height: 1.14;
    text-transform: uppercase;
}
.features .text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
    /* or 171% */
}

/*work*/
.works-title {
    margin-bottom: 50px;
}

.works {
    display: flex;
     
}
.works .item +.item {
    margin-left: 30px;
}
.pic {
    display: block;
}

/*team section*/
.team-title {
    margin-bottom: 50px;
}

.team.list {
    display: flex;
}
.team .avatar +.avatar {
    margin-left: 30px;
}

.team.section {
    background-color: var(--secondary-background-color);
}
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.user-discr {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    
}
.user-title {
    margin-bottom: 10px;
}


.team .title {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team .text {
    color:var(--primary-text-color);

    font-size: 16px;
    line-height: 1.2;
}

/*footer*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-bg-color);
}

.footer-container  {
    flex-direction: column;
    align-items: flex-start;
}

.footer .logo {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    color: var(--primary-white-color);
}

.address {
    font-style: inherit;
}

.contacts.list {
    display: flex;
    flex-direction: column;
}

.contacts .item:not(:last-child) {
    margin-bottom: 9px;
}

.guide {
    color: var(--primary-white-color);
    line-height: 1.71;
    /* or 171% */
}

.contact {
    color: var(--secondary-white);
    line-height: 1.71;
    /* or 171% */
}

.contacts .contact:hover,
.contacts .contact:focus {
    color: var(--accent-color)
}


/*Стилі main portfolio.html*/
/*filter list*/
.container.filter-container {   
    justify-content: center;
}

.filter-list {
    display: flex;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    
    margin-bottom: 50px;
}

.filter-list .item +.item {
    margin-left: 8px;
}
.filter {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/*portfolio projects list*/
.projects {
    display: flex;
    flex-wrap: wrap;
}

.project.card {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    background-color: var(--primary-white-color);
    border: 1px solid var(--border-card-stroke);
}

.card:nth-child(3n) {
    margin-right: 0;
}
.card:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    
}
.col .title {
    margin-bottom: 4px;
}

.projects .title {
    color: var(--secondary-text-color);

    /*font-weight: 700; defolt for title*/
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project .filter-item {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}
    